<html>
    <head>
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <link rel="stylesheet" href="/stylesheets/hr_portal.css"> 
        <link rel="stylesheet" href="/stylesheets/background-graphics.css">
        <title>H.R. Profile Edit</title>
    <head>
    <body>
    <main id = "boxes">
    <div id= "box1">
        <div class="container mt-5 d-flex justify-content-center">
            <div class="card p-3">
                <div class="d-flex align-items-center">
                    <div class="image"> <img src="/android-chrome-192x192.png" class="rounded" width="155"> </div>
                    <div class="ml-3 w-100">
                        <h4 class="mb-0 mt-0">Beer Cheese Soup Inc.</h4> <span></span>
                        <div class="p-2 mt-2 bg-primary d-flex justify-content-between rounded text-white stats">
                        <form action= "/bcs/hr/profile/:badge_id/modify" method="post">
                        <input type="hidden" name="_method" value="PATCH">
                        <table>
                            <tr>
                                <th> Employee Profile</th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th>Employee Details:</th>
                            </tr>
                            <tr>
                                <td>Name:</td>
                                <td><%= @session[:first_name]%></td>
                                <td></td>
                                <td><%= @session[:last_name]%></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Badge ID:</td>
                                <td><input type= "text" name= "employee[badge_id]" required: true required="required" placeholder= <%= @session[:badge_id] %>></td>
                                <td></td>
                                <td></td>
                                <td>Password Reset</td>
                                <td><input type= "password" name= "employee[password]" required: true required="required" placeholder= "Enter new Password"></td>
                                <td></td>
                             </tr>
                             <tr>
                                <td>Email:</td>
                                <td><input type= "text" name= "employee[email]" required: true required="required" value= <%= @session[:email] %>></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>Phone:</td>
                                <td><input type= "text" name= "employee[telephone]" required: true required="required" value= <%= @session[:telephone] %> readonly="readonly"></td>
                             </tr>
                             <tr>
                                <td>Department:</td>
                                <td><input type= "text" name= "employee[dept_id]" required: true required="required" value= <%= @session[:dept_id] %> readonly="readonly"></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>Shift:</td>
                                <td><input type= "text" name= "employee[shift_id]" required: true required="required" value= <%= @session[:shift_id] %> readonly="readonly"></td>
                            </tr>
                            </table>
                            <input type= "hidden" name= "id" required: true required="required" value= <%= @session[:id] %>>
                            <input type="submit" name="Save Changes"> Employee <u>MUST</u> supply badgeID!                            
                            </form>                    
                            <a href= "/bcs/hr_portal">return to search</a>
                        </div>
                         </div>
                         <br>
                         <br>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div id= "box2">
        </div>
        </main>
        <form action= "/bcs/hr/profile/:id" method="post"> 
            <input type="hidden" name="_method" value="delete">
            <input type= "hidden" name= "id" value= "@session[:id]">
            <input type="submit" id= "delete-btn" value="Delete Profile">
        </form>
    </body>
 </html>