<html>
    <head>
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <link rel="stylesheet" href="/stylesheets/hr_portal.css"> 
        <link rel="stylesheet" href="/stylesheets/background-graphics.css">
        <title>Submitted Time Card</title>
    <head>
    <body>
    <table> 
    <title><%=@session[:badge_id] %></title>
        <h3> <%=@session[:last_name]%>, <%=@session[:first_name]%></h3>
    <thead>
        <tr>
            <th colspan="8"><b>Submitted Hours: </b></th>
        </tr>
    </thead>
    <tbody>
    <tr>
        <td><input type= "text" name= "hours[week_ending]" hidden value= <%= @date.date_of_next(@day) %>></td>
        <td><input type= "text" name= "hours[dept_id]" hidden value= <%= @session[:dept_id]%>></td>
        <td><input type= "text" name= "hours[badge_id]" hidden value= <%=@session[:badge_id] %>></td>
        <td><input type= "text" name= "hours[last_name]" hidden value= <%=@session[:last_name] %>></td>
       <td></td>
       <td></td>
       <td></td>
       <td></td>
    </tr>
    <tr>
    <td colspan="8"><c>Time Log</c></td>
    </tr>
      <tr>
      <td></td>
      <td>Monday</td>
      <td>Tuesday</td>
      <td>Wednesday</td>
      <td>Thursday</td>
      <td>Friday</td>
      <td>Saturday</td>
      <td>Sunday</td>
      </tr>
      <tr>
      <td>Clock In</td>
      <td><%=@session[:monday_in]%></td>
      <td><%= @session[:tuesday_in]%></td>
      <td><%= @session[:wednesday_in]%></td>
      <td><%= @session[:thursday_in]%></td>
      <td><%= @session[:friday_in]%></td>
      <td><%= @session[:saturday_in]%></td>
      <td><%= @session[:sunday_in]%></td>
      </tr>
      <tr>
      <td>Clock Out</td>
      <td><%= @session[:monday_out]%></td>
      <td><%= @session[:tuesday_out]%></td>
      <td><%= @session[:wednesday_out]%></td>
      <td><%= @session[:thursday_out]%></td>
      <td><%= @session[:friday_out]%></td>
      <td><%= @session[:saturday_out]%></td>
      <td><%= @session[:sunday_out]%></td>
      </tr>
      <tr>
      </tr>
      <tr>
        <td colspan="8"><center>Hours Logged With :</center></td>
      </tr>
      <tr>
      <td colspan="8"><center><%= @session[:dept_id] %> department</center></td>
      </tr>
    </tbody>
    </table>
        <section>
            <% if @weeks.count > 1%>
                <p> "<strong><%= @weeks.count+1 %></strong> Weeks Strong! Leading the Way Since."</p>
            <% else%>
                <p> Well Done!</p>
                <p> "<strong><%= @weeks.count+1 %></strong> Week Strong! Leading the Way Since <%=@session[:week_ending]%>."</p>
            <% end%>
                </br> 
            <p><i> "Be the change that you wish to see in the world. Gandhi"</i></p>
        </section>
        <form action= "/bcs/profile/:id/reset" method = "post">
        
            <input type="hidden" name="_method" value="DELETE">
            <input type= "hidden" name= "id" value= <%=@session[:hours_id]%>> 
            <button>Back to Profile</button>
        </form>
        </body>
</html>